.post-detail-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    h1 {
        font-size: 24px;
        font-weight: bold;
        color: #7451eb;
        margin-bottom: 20px;

    }
    .card-meta-container {
        width: 100%;
        display: flex;
        justify-content: start;
        color: #7451eb;
    }
    .card-meta {
        margin-bottom: 10px;
        margin-right: 20px;
    }
    .card-meta-element{
        margin-bottom: 10px;
        margin-right: 20px;
    }
    .card-text {
        margin-top: 20px;
        margin-bottom: 30px ;
    }
    .post-detail-head {
        width: 100%;
        display: flex;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        
        a {
            margin-right: 20px;
        }
    
    }
}

.comments-container {
  width : 100%;
  max-width: 768px;
  padding: 10px;
  box-sizing: border-box;
}

.comment-form {
  margin-top: 10px;
}

.comment-form-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 0;
  border-radius: 0;
  overflow: hidden;

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    mat-icon {
      font-size: 24px;
      color: #7451eb;
      transition: transform 0.2s ease-in-out;
    }
  
    &:hover mat-icon {
      transform: scale(1.2);
    }
  }
    
}
.comment-form-fields {
  width: 100%;
  border: 2px solid #7451eb;
  border-radius: 8px;
  overflow: hidden;

  textarea  {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;

  }  

}

.back-arrow {
    display: inline-block;
    color: black;
    font-size: 36px;
    text-decoration: none;
    font-weight: bold;
}

/* Style de base pour les deux éléments */
.comment-container {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .comment-author, .comment-content {
    box-sizing: border-box;
    
  }

  .comment-author {
    min-width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .comment-content {
    background-color: lighten(#7451eb, 35%);
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .send-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    mat-icon {
      font-size: 24px;
      color: #7451eb;
      transition: transform 0.2s ease-in-out;
    }
  
    &:hover mat-icon {
      transform: scale(1.2);
    }
  }
  
  /* Style pour le desktop */
  @media (min-width: 768px) {
    .comment-author {
      width: auto; /* La largeur s'adapte au contenu */
      text-align: left;
      align-self: flex-start; /* Alignement en haut à gauche */
    }
  
    .comment-content {
      flex-grow: 1; /* Prend toute la largeur restante */
      padding-left: 10px; /* Espace entre l'auteur et le contenu */
    }
  }
  
  /* Style pour le mobile */
  @media (max-width: 767px) {

  }

@media (max-width: 768px) {


    .major {
        padding: 0px;
    }

    .card-meta-container {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .comment-author {
      width: 100%; /* Prend toute la largeur */
      text-align: right; /* Alignement à droite */
      order: 2; /* Place l'auteur sous le contenu */
      padding-top: 0px;
    padding-bottom: 0px;
    }
  
    .comment-content {
      width: 100%; /* Prend toute la largeur */
      order: 1; /* Place le contenu en premier */
    }

    .comment-form-container {
      border: 2px solid #7451eb;
      border-radius: 8px;
      overflow: hidden;
      
    }
    .comment-form-fields {
      border: 0;
      border-radius: 0;
      overflow: hidden;
    }

}