
<section class="minor">

  <div class="section-form">
    <h2>Créer un nouveau post</h2>
    <form [formGroup]="postForm" (ngSubmit)="submit()"> <!-- Formulaire lié à postForm -->

      <div class="form-field">
        <label for="subject_Id">Sélectionnez un sujet :</label>
        <select id="subject_Id" formControlName="subject" required (change)="onSubjectChange($event)">
          <option *ngFor="let subject of subjects" [value]="subject.id">
            {{ subject.name }}
          </option>
        </select>
      </div>
      
      <div class="form-field">
        <label for="title">Titre</label>
        <input id="title" type="text" formControlName="title" required>
      </div>

      <div class="form-field">
        <label for="content">Contenu</label>
        <textarea id="content" formControlName="content" required></textarea>
      </div>

      <div class="form-field hidden-field">
        <label for="author_Id">Author</label>
        <input id="author_Id" type="text" formControlName="author_Id" required>
      </div>

      <button class="btn-prim" type="submit" [disabled]="!postForm.valid">Créer le post</button>
    </form>
  </div>
</section>

