<header *ngIf="showHeader" class="header-container" clickOutside (clickOutside)="closeMenu()">
  <div class="logo-nav">
    <img src="assets/images/logo.png" alt="Logo" class="logo">
  </div>

  <ng-container *ngIf="!showLogoOnly">
    <button class="menu-toggle" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <nav class="nav-links" [class.open]="isMenuOpen">
      <a class="logout space-R" (click)="logout()">Se déconnecter</a>
      
      <a routerLink="/conversations" class="nav-link user-icon">
        <mat-icon>account_circle</mat-icon>
      </a>
    </nav>
  </ng-container>
</header>
