<header *ngIf="showHeader" class="header-container" clickOutside (clickOutside)="closeMenu()">
  <div class="logo-nav">
    <img src="assets/images/logo.png" alt="Logo" class="logo-small">
  </div>

  <ng-container *ngIf="!showLogoOnly">
    <button class="menu-toggle" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <nav class="nav-links" [class.open]="isMenuOpen">
      <button class="header-button logout-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <!-- <span>Se déconnecter</span> -->
      </button>
      
      <button class="header-button conversations-button" (click)="goToConversations()">
        <mat-icon>chat</mat-icon>
        <!-- <span>Conversations</span> -->
      </button>
    </nav>
  </ng-container>

</header>
